<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        
        h1 {
            color: #333;
        }
        
        p {
            color: #666;
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <h1>About</h1>
    <p>Welcome to my Apparel Feature Extraction Project using deep learning!.</p>
    <p></p>
    <p>Thank you for visiting our website!</p>
</body>
</html>
